:root {
  --primary-color: #e45c1d;
  --blurgradient-accent-color: #e45c1d6b;
  --blurgradient-dimmed-color: #e45c1d13;
  --dark-color: #111111;
  --border-color: #2e2e2e;
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: "Inter", sans-serif;
}

body {
	background-color: #0d0d0d;
	color:#f5f5f5;
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
}

.dashboard{
  width: 100vw;
  height:100vh;
  background:#0a0a0a;
  background-color: #0d0d0d;
}

.panel{
  background:#090909;
}

.navbar{
  grid-column:1 / 4;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 30px;
  background:#050505;
  position: sticky;
  top:0;
  z-index:1000;
  height: 70px;
}

.logo{
  font-size:24px;
  letter-spacing:2px;
  font-weight:600;
}

.logo span{
  color:#4a90e2;
}

.nav-links{
  display:flex;
  gap:30px;
  font-size:14px;
}

.nav-links a{
  text-decoration:none;
  color:#f5f5f5;
  transition:0.3s;
  border-bottom:2px solid transparent;
  padding-bottom:3px;
}

.nav-links a:hover{
  color:#4a90e2;
  border-bottom-color:#4a90e2;
}

.nav-links a.active{
  color:#4a90e2;
  border-bottom-color:#4a90e2;
}

.nav-link-section
{
  display:flex;
  flex-direction: column; 
  gap: 5px;
  font-size:14px;
}

.nav-link
{
  text-decoration:none;
  padding: 20px;
  color: #9f9f9f;
  font-size: 17px;
  border-radius: 5px;
}

.nav-link:hover{
  border-left: 5px solid var(--primary-color);
}

.active {
  background-color: #1d1d1d;
}

.search{
  width:280px;
  height:42px;
  border-radius:30px;
  background:#101010;
  border:1px solid rgba(255,255,255,0.08);
  padding:0 18px;
  color:white;
  outline:none;
}

.pageContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

/* LEFT SIDEBAR */

.leftSidebar
{
  width: 300px;
  height:100%;
  padding:35px 10px;
  background-color: #0d0d0d;
  border-right:1px solid rgba(255,255,255,0.05);
  overflow-y:auto;
  display:flex;
  flex-direction:column;
}

.logo{
  display:flex;
  align-items:center;
  gap:12px;
  margin-left: 20px;
  margin-bottom:40px;
}

.logo-icon{
  width:18px;
  height:18px;
  border-radius:50%;
  background:#ff5f1f;
  box-shadow:0 0 15px rgba(255,95,31,.7);
}

.logo h1{
  color:white;
  font-size:20px;
  font-weight:700;
}

.live{
  color:#d6b07d;
  font-size:13px;
  letter-spacing:1px;
}

.title{
  font-size:58px;
  line-height:0.95;
  font-weight:300;
}

.subtitle{
  color:#888;
  line-height:1.6;
  font-size:15px;
}

.buttons{
  display:flex;
  gap:12px;
}

.btn{
  padding:14px 22px;
  border-radius:14px;
  border:none;
  cursor:pointer;
  font-size:14px;
  transition:0.3s;
}

.primary{
  background:#4a90e2;
  color:#fff;
}

.secondary{
  background:#111;
  color:#fff;
  border:1px solid rgba(255,255,255,0.1);
}

.card{
  border:1px solid rgba(74, 144, 226, 0.15);
  border-radius:18px;
  padding:20px;
  background:rgba(12, 12, 12, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.mini-title{
  color:#999;
  font-size:13px;
  margin-bottom:10px;
}

.event{
  display:flex;
  justify-content:space-between;
  align-items:center;
  color:#ddd;
}

.status-box{
  margin-top:auto;
  border-top:1px solid rgba(255,255,255,0.06);
  padding-top:20px;
}

.status-grid{
  margin-top:18px;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  gap:15px;
}

.status-item h3{
  font-size:13px;
  color:#777;
  margin-bottom:6px;
  font-weight:400;
}

.status-item p{
  font-size:18px;
}

/* CENTER */

.hero{
  overflow:hidden;
  position:relative;
}

.hero img{
  width:100%;
  height:100%;
  object-fit:cover;
  opacity:0.9;
}

.missionsHero {
  padding: 40px;
  padding-top: 20px;
  width: calc(100vw - 300px);
  overflow-y:auto;
  overflow-x:hidden;
  background-color: #0d0d0d;
}

.missionsTableContainer {
  width:100%;
  margin-top: 40px;
  overflow: auto;
  border: 2px solid #313C3F;
  border-radius: 5px;
  max-height: 700px;
}

.missionsTable {
  width: 100%;
  padding: 20px;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #222222;
}

td, th {
  border-bottom: 1px solid #242222;
  border-right: 1px solid #242222;
  text-align: left;
  padding: 20px;
}

th {
  text-align: center;
}

#sessionList
{
  width: 100%;
}

.openMissionButton {
  padding: 7px;
  background-color: #4a90e2;
  border-radius: 5px;
  width: 100%;
  height: 60px;
  font-weight: bolder;
  cursor: pointer;
}

.overlay-lines{
  position:absolute;
  inset:0;
  pointer-events:none;
}

.overlay-lines::before,
.overlay-lines::after{
  content:"";
  position:absolute;
  background:rgba(255,255,255,0.15);
}

.overlay-lines::before{
  width:1px;
  height:100%;
  left:50%;
  top:0;
}

.overlay-lines::after{
  height:1px;
  width:100%;
  top:50%;
  left:0;
}

/* RIGHT */

.right{
  padding:25px;
  display:flex;
  flex-direction:column;
  gap:20px;
}

.doc-card{
  border-radius:18px;
  overflow:hidden;
  position:relative;
  height:260px;
  background:#111;
  border:1px solid rgba(255,255,255,0.08);
}

.doc-card img{
  width:100%;
  height:100%;
  object-fit:cover;
  opacity:0.7;
}

.doc-content{
  position:absolute;
  bottom:20px;
  left:20px;
}

.doc-content h2{
  font-size:42px;
  font-weight:300;
  line-height:0.95;
}

.mission-list{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.mission{
  display:flex;
  justify-content:space-between;
  align-items:center;
  color:#ddd;
  border-bottom:1px solid rgba(255,255,255,0.05);
  padding-bottom:10px;
}

.green-dot{
  width:8px;
  height:8px;
  background:#47ff88;
  border-radius:50%;
}

/* BOTTOM */

.bottom{
  grid-column:2 / 4;
  display:grid;
  grid-template-columns: 1.2fr 1fr 1.2fr;
  gap:1px;
  background:rgba(255,255,255,0.05);
}

.bottom-card{
  background:#090909;
  padding:22px;
}

.bottom-card img{
  width:100%;
  border-radius:16px;
  margin-top:15px;
}

.explore-list{
  margin-top:20px;
  display:flex;
  flex-direction:column;
  gap:18px;
}

.explore-item{
  display:flex;
  justify-content:space-between;
  color:#ddd;
}

.telemetry{
  display:flex;
  flex-direction:column;
  height:100%;
}

.telemetry-stats{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  margin-top:20px;
}

.telemetry-stats h3{
  color:#777;
  font-size:12px;
  margin-bottom:8px;
}

.telemetry-stats p{
  font-size:20px;
}

.graph{
  margin-top:auto;
  height:100px;
  border-top:1px solid rgba(255,255,255,0.08);
  position:relative;
}

.wave{
  position:absolute;
  width:100%;
  height:100%;
}

.wave svg{
  width:100%;
  height:100%;
}

@media(max-width:1200px){

  body{
    overflow:auto;
  }

  .dashboard{
    height:auto;
    grid-template-columns:1fr;
    grid-template-rows:auto;
  }

  .navbar,
  .bottom{
    grid-column:auto;
  }
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #4a90e2;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5fa3ff;
}
